<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
	<meta content="yes" name="apple-mobile-web-app-capable">     
	<meta content="black" name="apple-mobile-web-app-status-bar-style">     
	<meta content="telephone=no" name="format-detection">
    <title>数据</title>
    <link rel="stylesheet" href="/index/css/style.css">

    <style type="text/css">
    body{background: #eee;}
 
    </style>
</head>
<body>
<div class="bgb">
	<a href="javascript:;" onclick="window.history.go(-1);" id="back">
	<img src="/index/images/qqqq.png" width="100%"></a>

	<div class="day">
	    <ul>
				<li><a href="" style="font-size:18px;color:#ff5500">今日</a></li>
				<li><a href="">昨日</a></li>
				<li><a href="">本月</a></li>
				<li><a href="">上月</a></li>
		</ul>		
	</div>
	<div class="mynum">
	    <p class="mm">我的数据</p>
	    <div class="order">
	        <div class="myorder">
	        	 <p><a href="#" style="color: #fff;"><img src="/index/images/order.png" >&nbsp;我的订单</a></p>
	        	  <span>1738</span>
	        </div>
	        <div class="income">
	        	 <p><img src="/index/images/income.png" >&nbsp;评估收入</p>
	        	  <span>1738</span>
	        </div>
	        <div class="clickRate">
	        	 <p><img src="/index/images/click.png" >&nbsp;点击量</p>
	        	  <span>1738</span>
	        </div>
	    </div>
	</div>
    <div class="partnerData">
       <p class="mm">合伙人数据(30人)</p>
       <div class="pabox">
        <img src="/index/images/shuju.png" width="100%">
         <div class="onono">
       <!--   <img src="/index/images/onono.png" > -->
         <span>3000</span>
        <!--  <p><a href="#" style="color: #333;">合伙人订单</a></p> -->
         </div>
         <div class="ofofo">
          <span>1500</span>

         <!--  <img src="/index/images/ofofo.png" >
          <span>1500</span>
          <p>我的提成</p> -->
         </div>
       </div>
    </div>

    <div class="papapa">
        <p class="tip"><img src="/index/images/erpa.png" class="erimg">&nbsp;二级合伙人(aaaa)</p>
        <div class="erpa">
         <div class="line"></div>
            <div class="erbox" style="text-align: left;border-bottom: none">
                <img src="/index/images/hshu.png" >
            </div>
            <div class="erbox">
                <span>200</span>
                <p>订单数</p>
            </div>
            <div class="eshu"> <img src="/index/images/shushu.png" ></div>
              <div class="erbox">
                <span>250</span>
                <p>他的预估</p>
            </div>
             <div class="eshu"> <img src="/index/images/shushu.png" ></div>
              <div class="erbox">
                <span>100</span>
                <p>我的提成</p>
            </div>
          

        </div>
            <p class="tip"><img src="/index/images/sanpa.png" class="erimg">&nbsp;三级合伙人(bbbb)</p>
         <div class="erpa">
          <div class="line"></div>
            <div class="erbox" style="text-align: left;border-bottom: none">
                <img src="/index/images/hshu.png" >
            </div>
            <div class="erbox">
                <span>200</span>
                <p>订单数</p>
            </div>
            <div class="eshu"> <img src="/index/images/shushu.png" ></div>
              <div class="erbox">
                <span>250</span>
                <p>他的预估</p>
            </div>
             <div class="eshu"> <img src="/index/images/shushu.png" ></div>
              <div class="erbox">
                <span>100</span>
                <p>我的提成</p>
            </div>

        </div>

         <p class="tip"><img src="/index/images/sanpa.png" class="erimg">&nbsp;三级合伙人(cccc)</p>
         <div class="erpa">
          <div class="line"></div>
            <div class="erbox" style="text-align: left;border-bottom: none">
                <img src="/index/images/hshu.png" >
            </div>
            <div class="erbox">
                <span>200</span>
                <p>订单数</p>
            </div>
            <div class="eshu"> <img src="/index/images/shushu.png" ></div>
              <div class="erbox">
                <span>250</span>
                <p>他的预估</p>
            </div>
             <div class="eshu"> <img src="/index/images/shushu.png" ></div>
              <div class="erbox">
                <span>100</span>
                <p>我的提成</p>
            </div>

        </div>
    	
    </div>

    </div>

</body>
</html>
