<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
	<meta content="yes" name="apple-mobile-web-app-capable">     
	<meta content="black" name="apple-mobile-web-app-status-bar-style">     
	<meta content="telephone=no" name="format-detection">
    <title>排行榜</title>
    <link rel="stylesheet" href="/index/css/style.css">
</head>
<body>
	<a href="javascript:;" onclick="window.history.go(-1);" style="position:fixed;right:50px;bottom:200px;width:10%;z-index:9999999;"><img src="/index/images/qqqq.png" width="100%"></a>
	<div class="nav"><a href="{:url('index/rank',['uid'=>$Think.session.usid])}"><img src="/index/images/banner1.png" width="100%" style="flost:left;"></a></div>
	<div style="text-align:center;font-size:20px;line-height:40px;">
		收入排行榜
	</div>
	<img src="/index/images/meiyou.png" width="20%" style="margin: 20px auto;display:block;">
	<p style="text-align:center;font-size:1em;">管理员还未公布</p>
</body>
</html>
