<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索结果</title>
    
    <link rel="stylesheet" href="/index/css/style.css">
</head>
<body>
	<a href="javascript:;" onclick="window.history.go(-1);" style="position:fixed;right:50px;bottom:200px;width:10%;z-index:9999999;"><img src="/index/images/qqqq.png" width="100%"></a>
	<div style="width:50%;margin: 50px auto"><img src="/index/images/sss.png"width='100%'></div>
</body>
</html>
