<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索结果</title>
    <link rel="stylesheet" href="/index/css/style.css">
</head>
<body>
	<a id="ff" href="javascript:;" onclick="window.history.go(-1);" style="position:fixed;right:50px;bottom:160px;width:40px;z-index:9999999;"><img src="/index/images/qqqq.png" width="100%"></a>
	<div class="con1" id="con1">
		<form action="{:url('index/searchp')}" method="get" id="forms">
			<input type="text" name="name" placeholder="搜索商品关键字">
			<button type="submit" id="but"></button>
		</form>
	</div>
	<div class="main3">
		<ul>
		{volist name='list' id='vo'}
			<div class="ls">
				<div class="pic"><img src="{$vo.pic}" width="100%" height="100%"></div>
				<div class="r">
					<li> <img src="/index/images/<?php if($vo['istmall'] == 0) echo 'tao';else if ($vo['istmall'] == 1) echo 'tmall';?>.png">{$vo.title}</li>
					<li>原价：<a class="back">{$vo.org_price}元</a><span>券后价：{$vo.price}元</span></li>
					<li>优惠券：<a class="rr">{$vo.coupon_price}元</a></li>
		 			<li>优惠券剩余：<a class="rr">{$vo.sales_num}张</a></li>
				</div>
			</div>
			<div class='b'>				
				<a class="a1" href="javascript:;" onclick="tc('{$vo.dtkid}','{$vo.num_iid}','{$vo.title}','{$vo.pic}','{$vo.org_price}','{$vo.coupon_price}','{$vo.price}','{$vo.num_iid}','{$vo.jihua_type}','{$vo.coupon_id}')">分享文案</a>
				<a class="a2" href="javascript:;" onclick="tcc('{$vo.dtkid}','{$vo.num_iid}')" style="display:<?php if($zpzh == 1) echo 'none';?>">发送到微信群</a>	
			</div>
			<div class='h'></div>
		{/volist}
		<div id="load" style="background:url(/index/images/load.png) no-repeat center;height: 40px;width:100%;display:none"></div>
		<div id="lload"></div>
		<input type="hidden" id="ii" value="">
		<input type="hidden" id="names" value="{$name}">
		<input type="hidden" id="p" value="">
		</ul>
	</div>
	<div class="btm" onclick="bgb()"></div>
	<div class="bott">
		<div class="sco">
		<!-- <form action='http://fd.00o.cn/index.php/home/index/index' method="post" id='from'> -->
		<form action='{:url('index/tj')}' method="post" id='from'>
			{volist name='t' id='vv'}
				<p onclick="tj('mm_{$vv.t_mm1}_{$vv.t_mm2}_{$vv.t_mm3}','{$vv.t_nicname}')">{$vv.t_nicname}</p>
			{/volist}	
				<!--<input type="hidden" name="mm1" value='{$vv.t_mm1}'>-->
				<input type="hidden" name="mm1" id="mm1">
				<input type="hidden" name="tkid" id='v'>
				<input type="hidden" name="gid" id='vv'>
				<input type="hidden" name="gname" id='vvv'>
				<input type="hidden" name="imgurl" id='im'>
				<input type="hidden" name="pid" id='pid'>
				<input type="hidden" name="zj" id='zj'>
				<input type="hidden" name="qj" id='qj'>
				<input type="hidden" name="qhj" id='qhj'>
				<input type="hidden" name="num_iid" id='num_iid'>
				<input type="hidden" name="coupon_id" id='coupon_id'>
				<input type="hidden" name="jihua_type" id='jihua_type'>
				<input type="hidden" name="idss" value="{$idss}">
				<input type="hidden" name="uid" value="{$uid}">
				<input type="hidden" name="keyword" value="{$name}">
		</form>
		</div>
		<!-- <p class="t" id="fs" onclick="tj()">生成文案</p> -->
	</div>
	<div class="bottt">
		<div class="sco">
		<form action='http://up.t5166.com/api/api3.php' method="post" id='fromm'>
			{volist name='t' id='vv'}
				<p>{$vv.t_nicname}
					<input type="hidden" name="data[]" value="mm_{$vv.t_mm1}_{$vv.t_mm2}_{$vv.t_mm3}">
					<img class="i" src="/index/images/gou.jpg">
				</p>
			{/volist}	
				<input type="hidden" name="tkid" id='v1'>
				<input type="hidden" name="gid" id='vv1'>
				<input type="hidden" name="idss" value="{$idss}">
				<input type="hidden" name="uid" value="{$uid}">
				<input type="hidden" name="keyword" value="{$name}">
		</form>
		</div>
		<p class="t" id="fs" onclick="tjj()"><!-- <span onclick="ntc()"><img src="/index/images/close.png" width="10px"></span> -->发&nbsp;送</p>
	</div>
</body>
</html>
<script src="/index/js/jquery.js" language="javascript"></script>
<script type="text/javascript">
	function tc(tkid,gid,gname,imgurl,zj,qj,qhj,num_iid,jihua_type,coupon_id){
		$('.btm').css('display','block');
		$('.bott').animate({bottom:"0px"},'200');
		$('#v').val(tkid);
		$('#vv').val(gid);
		$('#vvv').val(gname);
		$('#im').val(imgurl);
		$('#zj').val(zj);
		$('#qj').val(qj);
		$('#qhj').val(qhj);
		$('#num_iid').val(num_iid);
		$('#coupon_id').val(coupon_id);
		if(jihua_type == null){
			$('#jihua_type').val();
		}else{
			$('#jihua_type').val(jihua_type);
		}
		
		$('#ff').hide();
		/*$('#from p input').attr('name','');*/
		$('body,html').css({'height':'auto','overflow':'hidden'});
	}
	function bgb(){
		$('.bott').animate({bottom:"-300px"});
		$('.bottt').animate({bottom:"-300px"});
		$('.btm').css('display','none');
		$('.bottt .i').css('display','none');
		$('#fromm p input').attr('name','');
		$('#ff').show();
		$('body,html').css({'height':'auto','overflow':''});
	}
	function tj(pid,name){
		$('#pid').val(pid);
		//获取mm1的数据
		var mm1_arr = pid.split("_");
		$('#mm1').val(mm1_arr[1]);
		//$('#from').submit();
		$('.bott').animate({bottom:"-300px"});
		$('.btm').css('display','none');
		$('#from').submit();
		$('#ff').show();
		$('body,html').css({'height':'auto','overflow':''});
	}
	function tcc(tkid,gid){
		$('.btm').css('display','block');
		$('.bottt').animate({bottom:"0px"},'300');
		$('#v1').val(tkid);
		$('#vv1').val(gid);
		$('#ff').hide();
		$('#fromm p input').attr('name','');
		$('body,html').css({'height':'auto','overflow':'hidden'});
	}
	function tjj(){
		var l = $('#fromm p input[name="data[]"]').length;
		//alert(l);
		if(l > 0){
			$('#fromm').submit();
		}else{
			alert('请勾选对应群');
		}
		$('.bottt').animate({bottom:"-300px"});
		$('.bottt .i').css('display','none');
		$('#fromm p input').attr('name','');
		$('.btm').css('display','none');
		$('#ff').show();
		$('body,html').css({'height':'auto','overflow':''});
	}
	$(document).ready(function(){ 
		$('#fromm p').click(function(){
			var i = $(this).find('.i').css('display');
			var c = $('#fromm p input').attr('name');
			if(c == ''){
				$('#fs').css('background','#eee');
			}else{
				$('#fs').css('background','#14d212');
			}
			if(i == 'none'){
				$(this).find('.i').css('display','block');
				$(this).children("input").attr('name','data[]');
				$('#fs').css('background','#14d212');
			}else if(i == 'block'){
				$(this).find('.i').css('display','none');
				$(this).children("input").attr('name','');
				var l = $('#fromm p input[name="data[]"]').length;
				if(l > 0){
					$('#fs').css('background','#14d212');
				}else{
					$('#fs').css('background','#eee');
				}
			};
		});
	});
	var d = document.getElementById("con1").offsetHeight;
    console.info(d);
    window.addEventListener("scroll", function(event) {
        var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
        console.log(scrollTop);    
        if(document.documentElement.scrollHeight == document.documentElement.clientHeight + scrollTop ) {
        	var name = $('#names').val();
        	var zp = {$zpzh};
        	var p = $('#p').val();
        	if(p == ''){
        		p =1;
        	}
			$('#load').show();
			$.ajax({
                url: "{:url('index/loadss')}",
                data:{name:name,p:p},
                type: 'Post',
                dataType: "json",
                cache: false,
                success: function(data,state){
                    if(state == 'success'){
                    	/*alert(data);*/
                    	var httml = '';
                    	$.each(data.datas, function(idx, obj) {
						    var pp = '';
						    if(obj.istmall == 0){
						    	pp += 'tao';
						    }else if(obj.istmall == 1){
						    	pp += 'tmall';
						    }
						    var zzp;
						    if(zp == 1){
						    	zzp = 'none';
						    }
						    httml +="<div class='ls'><div class='pic'><img src='"+obj.pic+"' width='100%' height='100%'></div><div class='r'><li> <img src='/index/images/"+pp+".png'>"+obj.title+"</li><li>原价：<a class='back'>"+obj.org_price+"元</a><span>券后价："+obj.price+"元</span></li><li>优惠券：<a class='rr'>"+obj.coupon_price+"元</a></li><li>优惠券剩余：<a class='rr'>"+obj.sales_num+"张</a></li></div></div><div class='b'>"+						    
						    "<a class='a1' href='javascript:;' onclick=\"tc('"+obj.dtkid+"','"+obj.num_iid+"','"+obj.title+"','"+obj.pic+"','"+obj.org_price+"','"+obj.coupon_price+"','"+obj.price+"','"+obj.num_iid+"','"+obj.jihua_type+"','"+obj.coupon_id+"')\">分享文案</a>"+
						    "<a class='a2' href='javascript:;' onclick=\"tcc('"+obj.dtkid+"','"+obj.num_iid+"')\" style='display:"+zzp+"'>发送到微信群</a>"+
						    "</div><div class='h'></div>";
						    /*<a class='a2' href='javascript:;' onclick=\"tcc('"+obj.dtkid+"','"+obj.num_iid+"')\" style='display:"+zzp+"'>发送到微信群</a>*/
						});
						$('#lload').append(httml);
                        $('#load').hide();
                        $('#p').val(data.page);
                    }else{
                        alert('error');
                    }
                }
        	});	
        }        
    });
	/*$(document).ready(function(){ 
		$('#from p').click(function(){
			var i = $(this).find('.i').css('display');
			var c = $('#from p input').attr('name');
			if(c == ''){
				$('#fs').css('background','#eee');
			}else{
				$('#fs').css('background','#14d212');
			}
			if(i == 'none'){
				$('.i').css('display','none');
				$(this).find('.i').css('display','block');
				$('#from p input').attr('name','');
				$(this).children("input").attr('name','data');
				$('#fs').css('background','#14d212');
			}else if(i == 'block'){
				$(this).find('.i').css('display','none');
				$(this).children("input").attr('name','');
				var l = $('#from p input[name="data"]').length;
				if(l > 0){
					$('#fs').css('background','#14d212');
				}else{
					$('#fs').css('background','#eee');
				}
			};
		});
	});*/
</script>
