<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
	<meta content="yes" name="apple-mobile-web-app-capable">     
	<meta content="black" name="apple-mobile-web-app-status-bar-style">     
	<meta content="telephone=no" name="format-detection">
    <title>订单明细</title>
    <link rel="stylesheet" href="/index/css/style.css">
</head>
<body>
	<a href="javascript:;" onclick="window.history.go(-1);" style="position:fixed;right:50px;bottom:200px;width:10%;z-index:9999999;"><img src="/index/images/qqqq.png" width="100%"></a>
	<div style="margin: 0 auto; width:100px;height: 100px; margin-top:200px;">
		<img src="/index/images/wdl.png" width='100%'>
	</div>
</body>
</html>
