{include file="public/head" /}
    <div class="mainpanel">
    <div class="contentpanel">
      <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{:url('index/index')}"><i class="fa fa-home mr5"></i> 主页</a></li>
        <li><a href="{:url('User/index')}">代理管理</a></li>
        <li class="active">用户列表</li>
      </ol>
      <div class="panel">
          <div class="panel-heading" style="padding-bottom:0px;">
          <h4 class="panel-title">用户列表</h4>
          <hr style="margin-bottom:0px;">
          <div class="row">
          </div>
        </div>
          <style>
              .utab{width:100%;}
              .utab p{
                  border-right:1px solid #FFF;
                  background:#259dab;
                  color:#fff;
                  font-weight: 600;
                  width:11.5%;
                  padding:10px 15px;
                  height:45px;
                  float:left;
                  margin:0px!important;
              }
              .oc{background:#E6E5EA;}
              .tc{background:#EEEEF5;}
              .sc{background:#FCFBFF;}
              .utabus{width:100%;}
              .utabus p{
                  border-right:1px solid #FFF;
                  border-top:1px solid #FFF;
                  width:11.5%;
                  padding:10px 15px;
                  height:45px;
                  float:left;
                  margin:0px!important;
              }
              .xdc .col-md-12{margin:0px;padding:0px;min-width: 1300px;}
              .utabus i{padding:0px!important;margin:0px!important;}
              .btn-stroke{
                  padding:0 3px;
                  line-height:16px;
              }
          </style>
        <div class="panel-body">
          <div class="table-responsive xdc">
              <div style="min-width:1280px;">
              <form action="{:url('User/index')}" method="get">
                  <div style="width:300px;float:left;margin-right:10px;margin-bottom:10px;">
                      <input style="width:300px;" type="text" name="name" class="form-control"  placeholder="用户帐号、昵称、PID" aria-required="true">
                  </div>
                  <input style="width:100px;float:left;margin-bottom:10px;" type="submit" class="btn btn-success" value="搜 索">
              </form>
              </div>
              <br>
              <br>
              <br>
              <div class="col-md-12">
                  <div class="utab">
                      <p style="width:40px;">&nbsp;</p>
                      <p>用户帐号</p>
                      <p>备注昵称</p>
                      <p>代理级别</p>
                      <p style="width:90px;">余额</p>
                      <p style="width:100px;">待确认金额</p>
                      <p style="width:100px;">邀请码</p>
                      <p style="width:100px;">分成比率</p>
                      <p style="width:100px;">二级分成</p>
                      <p style="width:100px;">三级分成</p>
                      <p style="width:70px;">状态</p>
                      <p style="width:150px;">操作</p>
                  </div>
              </div>
              {volist name="user" id="v"}
              <div class="utabus">
                  <div class="col-md-12">
                      <p style="width:40px;" class="oc">
                      {if condition="$so eq 2"}
                          {if condition="$fcbl.fc_power eq 1"}
                              <label style="padding:0px;margin:0px;" id="u{$v.u_id}" class="olds">
                                  <i onclick="manage.gt({$v.u_id})" class="glyphicon glyphicon-chevron-right" style="padding:5px;cursor:pointer"></i>
                              </label>
                              {elseif condition="$fcbl.fc_power neq 1"/}
                              <label style="padding:0px;margin:0px;">
                                  <i class="fa fa-user" style="padding:5px;cursor:pointer"></i>
                              </label>
                          {/if}
                       {/if}
                      </p>
                      <p class="oc"><a href="{:url('User/ustwo',array('uid'=>$v.u_id))}">{$v.u_username}</a></p>
                      <p class="oc"><a href="{:url('User/ustwo',array('uid'=>$v.u_id))}">{$v.u_nic}&nbsp;</a></p>
                      <p class="oc">{if condition="$v.u_leve eq 1"}一级代理{elseif condition="$v.u_leve eq 2" /}二级代理{elseif condition="$v.u_leve eq 3" /}三级代理{/if}</p>
                      <p class="oc" style="width:90px;">{$v.u_money}</p>
                      <p class="oc" style="width:100px;">{$v.u_wqrmoney}</p>
                      <p class="oc" style="width:100px;">{if condition="$fcbl.fc_power eq 1"}{if condition="$v.u_leve neq 3" /}{$v.u_code}{/if}{/if}&nbsp;</p>
                      <p class="oc" style="width:100px;"><?php $num1 = $v['u_fcbl']*100;echo sprintf("%.2f",substr(sprintf("%.3f", $num1), 0, -2));   ?>%</p>
                      <p class="oc" style="width:100px;">{if condition="$fcbl.fc_power eq 1"}
                          {if condition="$v.u_leve eq 1" /}<?php $num2 = $v['u_fcbl2']*100;echo sprintf("%.2f",substr(sprintf("%.3f", $num2), 0, -2));?>%{/if}
                          {/if}</p>
                      <p class="oc" style="width:100px;">{if condition="$fcbl.fc_power eq 1"}
                          {if condition="$v.u_leve eq 1" /}<?php $num3 = $v['u_fcbl3']*100;echo sprintf("%.2f",substr(sprintf("%.3f", $num3), 0, -2));?>%{/if}
                          {if condition="$v.u_leve eq 2" /}<?php $num2 = $v['u_fcbl2']*100;echo sprintf("%.2f",substr(sprintf("%.3f", $num2), 0, -2));?>%{/if}
                          {/if}</p>
                      <p class="oc" style="width:70px;" id="sf{$v.u_id}">
                      {if condition="$v.u_state eq 1"} <span style="color:#259dab">正常</span> {elseif condition="$v.u_state eq 2"/}<span style="color:red">被封禁</span>{/if}
                      </p>
                      <p style="width:150px;" class="oc">
                          <a title="查看详情" href="{:url('User/ustwo',array('uid'=>$v.u_id))}" class='btn btn-info btn-xs btn-stroke'><i class="glyphicon glyphicon-share-alt" ></i></a>
                          <button class="btn btn-success btn-xs btn-stroke" title="修改" onclick="manage.modifyuser({$v.u_id})" ><i  class="fa fa-pencil"></i></button>
                          <button class="btn btn-warning btn-xs btn-stroke" onclick="manage.reset({$v.u_id})" ><a href="javascript:;" style="color:#fdcc51;" title="重置密码" class="fa fa-repeat"></a></button>
                      <span id="yon{$v.u_id}">
                      {if condition="$v.u_state eq 1"}<button class='btn btn-danger btn-xs btn-stroke' style="color:red;" title="封禁" onclick="manage.usno({$v.u_id})" ><i class="fa fa-times"></i></button>
                      {elseif condition="$v.u_state eq 2"/}<button class='btn btn-info btn-xs btn-stroke' title="恢复" onclick="manage.usyes({$v.u_id})"><i class="fa fa-check"></i></button>{/if}
                      </span>
                      </p>
                      <div id="s{$v.u_id}" class="utabus"></div>
                  </div>
              </div>
              {/volist}
              {$user->render()}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- 模糊弹框 -->
<div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:500px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改用户 <span id="yh"></span></h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">分成比率</label>
                        <div class="col-sm-8">
                            <input type="text" id="fcbl" class="form-control" placeholder="分成比率" required="" pattern="^\d+(\.\d{1,2})?$"pattern="^\d+(\.\d{1,2})?$" aria-required="true" style="width:100px;float:left;"><span style="float:left;font-size: 25px;">%</span>
                            <input type="hidden" id="uid" class="form-control">
                        </div>
                    </div>
                    {if condition="$fcbl.fc_power eq 1"}
                    <div class="form-group" id="fcb2" style="display:none;">
                        <label class="col-sm-3 control-label" id="erji">二级分成</label>
                        <div class="col-sm-8">
                            <input type="text" id="fcbl2" class="form-control" placeholder="二级分成" pattern="^\d+(\.\d{1,2})?$" aria-required="true"style="width:100px;float:left;"><span style="float:left;font-size: 25px;">%</span>

                        </div>
                    </div>
                    <div class="form-group" id="fcb3">
                        <label class="col-sm-3 control-label">三级分成</label>
                        <div class="col-sm-8">
                            <input type="text" id="fcbl3" class="form-control" placeholder="三级分成" pattern="^\d+(\.\d{1,2})?$" aria-required="true"style="width:100px;float:left;"><span style="float:left;font-size: 25px;">%</span>

                        </div>
                    </div>
                    {/if}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注昵称</label>
                        <div class="col-sm-8">
                            <input type="text" id="nic" class="form-control" placeholder="备注昵称" required="" aria-required="true">
                        </div>
                    </div>
                    {if condition="$fcbl.fc_power eq 1"}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">代理级别</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="jis" style="display:none;"></select>
                            <div id="dljb"></div>
                        </div>
                    </div>

                    {/if}
                    <div class="form-group" id="sjy" style="display:none;">
                        <label class="col-sm-3 control-label">选择上级</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="se5">
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div style="color:#f00">友情提示：有订单数据或者下级代理的将不可修改代理等级</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">　关　闭　</button>
                <button type="button" class="btn btn-primary" id="sub1" >　提　交　</button>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script>
  var manage = {
    reset:function(id){
            if(confirm("是否重置密码？")) {  // 确认操作
                // 发送请求
                $.ajax({
                    url: "{:url('user/Reset')}",
                    data: {uid:id},
                    type: 'Post',
                    dataType: "json",
                    cache: false,
                    success: function(data,state){
                        if(state == 'success' && data.code == '0'){
                            alert(data.msg);
                        }else{
                            alert(data.msg);
                        }
                    }
                });
            }
        },
  usno:function(uid)
  {
    if(confirm("确定封禁用户？")) {
      $.ajax({
          url: "{:url('user/fjyh')}",
          data: {uid:uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function(data,state){
              if(state == 'success' && data.code == '0'){
                alert('封禁成功');
                sta = '<span style="color:red">被封禁</span>';
                      zt = '<button class="btn btn-info btn-xs btn-stroke" title="恢复" onclick="manage.usyes('+uid+')"><i class="fa fa-check"></i></button>';
                      $('#sf'+uid).empty();
                      $('#yon'+uid).empty();
                      $('#sf'+uid).html(sta);
                      $('#yon'+uid).html(zt);

              }
              else
              {
                  alert('封禁失败');
              }
          }
      });
    }
  },
  usyes:function(uid)
  {
    if(confirm("确定恢复正常？")) {
      $.ajax({
          url: "{:url('user/fjyh')}",
          data: {uid:uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function(data,state){
              if(state == 'success' && data.code == '0'){
                alert('恢复成功');
                var sta = '<span style="color:#259dab">正常</span>';
                var zt = '<button class="btn btn-danger btn-xs btn-stroke" title="封禁" style="color:red;" onclick="manage.usno('+uid+')"><a title="封禁" style="color:red;" onclick="manage.usno('+uid+')" class="fa fa-times"></a></button>';
                $('#sf'+uid).empty();
                $('#yon'+uid).empty();
                $('#sf'+uid).html(sta);
                $('#yon'+uid).html(zt);

              }
              else
              {
                  alert('恢复失败');
              }
          }
      });
    }
  },
  gtno:function(uid)
  {
      HtmlStr = '<i onclick="manage.gt('+uid+')" class="glyphicon glyphicon-chevron-right" style="padding:5px;cursor:pointer"></i>';
      var ssss = HtmlStr;
      $('#u'+uid+'').empty();
      $('#s'+uid+'').empty();
      $('#u'+uid+'').html(ssss);
  },
  gtnos:function(uid)
  {
      HtmlStr = '<i onclick="manage.gts('+uid+')" class="glyphicon glyphicon-chevron-right" style="padding:5px;cursor:pointer"></i>';
      var ssss = HtmlStr;
      $('#u'+uid+'').empty();
      $('#s'+uid+'').empty();
      $('#u'+uid+'').html(ssss);
  },
  gt:function(uid){
      $.ajax({
          url: "{:url('user/usones')}",
          data: {uid:uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function(data,state){
              if(state == 'success' && data.code == '0'){
                  var htmls = '';
                  arra = data.user1;
                  $.each(arra,function(key,val){
                    if(val.state==1)
                    {
                      sta = '<span style="color:#259dab">正常</span>';
                      zt = '<button title="封禁" onclick="manage.usno('+val.usid+')" class="btn btn-danger btn-xs btn-stroke" ><i style="color:red;" class="fa fa-times"></i></button>';
                    }else if(val.state==2)
                    {
                      sta = '<span style="color:red">被封禁</span>';
                      zt = '<button class="btn btn-info btn-xs btn-stroke" title="恢复" onclick="manage.usyes('+val.usid+')" ><i class="fa fa-check"></i></button>'
                    }

                      htmls +='<div class="col-md-12"><p style="width:40px;" class="tc">&nbsp;</p>'+
                              '<p class="tc"><label style="padding:0px;margin:0px;" id="u'+val.usid+'" class="olds"><i onclick="manage.gts('+val.usid+')" class="glyphicon glyphicon-chevron-right" style="padding:5px;cursor:pointer"></i></label>　<a href="/bank/user/ustwo/uid/'+val.usid+'.html">'+val.username+'</a></p>'+
                              '<p class="tc"><a href="/bank/user/ustwo/uid/'+val.usid+'.html">'+val.u_nic+'&nbsp;</a></p>'+
                              '<p class="tc">　　二级代理</p>'+
                              '<p class="tc" style="width:90px;">'+val.money+'</p>'+
                              '<p class="tc" style="width:100px;">'+val.u_wqrmoney+'</p>'+
                              '<p class="tc" style="width:100px;">'+val.code+'</p>'+
                              '<p class="tc" style="width:100px;">'+(val.fcbl*100).toFixed(2)+'%</p>'+
                              '<p class="tc" style="width:100px;">&nbsp;</p>'+
                              '<p class="tc" style="width:100px;">'+(val.u_fcbl2*100).toFixed(2)+'%</p>'+
                              '<p class="tc" style="width:70px;" id="sf'+val.usid+'">'+sta+'</p>'+
                              '<p style="width:150px;" class="tc"><a href="/bank/user/ustwo/uid/'+val.usid+'.html" title="查看详情" class="btn btn-info btn-xs btn-stroke"><i class="glyphicon glyphicon-share-alt" ></i></a>&nbsp;<button class="btn btn-success btn-xs btn-stroke" title="修改用户" onclick="manage.modifyuser('+val.usid+')"><i class="fa fa-pencil"></i></button>&nbsp;<button class="btn btn-warning btn-xs btn-stroke" title="重置密码" onclick="manage.reset('+val.usid+')" ><i style="color:#fdcc51;" class="fa fa-repeat"></i></button>&nbsp;<span id="yon'+val.usid+'">'+zt+'</span></p>'+
                              '<div id="s'+val.usid+'" class="utabus" style="background: #e"> </div></div>';
                  });

                  HtmlStr = '<i onclick="manage.gtno('+uid+')" class="glyphicon glyphicon-chevron-down" style="padding:5px;cursor:pointer"></i>';
                  var ssss = HtmlStr;
                  $('#u'+uid+'').empty();
                  $('#u'+uid+'').html(ssss);
                  document.getElementById('s'+uid).innerHTML=htmls;

              }else if(data.code == '-1'){
                  htmls = '<p class="tc" class="text-center" style="width:400px;">　　　　无代理</p>';
                  HtmlStr = '<i onclick="manage.gtno('+uid+')" class="glyphicon glyphicon-chevron-down" style="padding:5px;cursor:pointer"></i>';
                  var ssss = HtmlStr;
                  $('#u'+uid+'').empty();
                  $('#u'+uid+'').html(ssss);
                  document.getElementById('s'+uid).innerHTML=htmls;
              }
          }
      });
  },
  gts:function(uid){
      $.ajax({
          url: "{:url('user/ustwos')}",
          data: {uid:uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function(data,state){
              if(state == 'success' && data.code == '0'){
                  var htmlv = '';
                  arras = data.user2;
                  $.each(arras,function(key,val){
                    if(val.state==1)
                    {
                      sta = '<span style="color:#259dab">正常</span>';
                      zt = '<button class="btn btn-danger btn-xs btn-stroke" title="封禁" style="color:red;" onclick="manage.usno('+val.usid+')"><i class="fa fa-times"></i></button>';
                    }else if(val.state==2)
                    {
                      sta = '<span style="color:red">被封禁</span>';
                      zt = '<button class="btn btn-info btn-xs btn-stroke" title="恢复" onclick="manage.usyes('+val.usid+')" ><a class="fa fa-check"></a></button>'
                    }
                      htmlv+= '<div class="col-md-12"><p style="width:40px;" class="sc">&nbsp;</p>'+
                              '<p class="sc">　　<a href="/bank/user/ustwo/uid/'+val.usid+'.html">'+val.username+'</a></p>'+
                              '<p class="sc"><a href="/bank/user/ustwo/uid/'+val.usid+'.html">'+val.u_nic+'&nbsp;</a></p>'+
                              '<p class="sc">　　　　三级代理</p>'+
                              '<p class="sc" style="width:90px;">'+val.money+'</p>'+
                              '<p class="sc" style="width:100px;">'+val.u_wqrmoney+'</p>'+
                              '<p class="sc" style="width:100px;">&nbsp;</p>'+
                              '<p class="sc" style="width:100px;">'+(val.fcbl*100).toFixed(2)+'%</p>'+
                              '<p class="sc" style="width:100px;">&nbsp;</p>'+
                              '<p class="sc" style="width:100px;">&nbsp;</p>'+
                              '<p class="sc" style="width:70px;" id="sf'+val.usid+'">'+sta+'</p>'+
                              '<p style="width:150px;" class="sc"><a class="btn btn-info btn-xs btn-stroke" href="/bank/user/ustwo/uid/'+val.usid+'.html" title="查看详情"><i  class="glyphicon glyphicon-share-alt"></i></a>&nbsp;<button class="btn btn-success btn-xs btn-stroke" title="修改用户" onclick="manage.modifyuser('+val.usid+')"><i class="fa fa-pencil"></i></button>&nbsp;<button class="btn btn-warning btn-xs btn-stroke" title="重置密码" style="color:#fdcc51;" onclick="manage.reset('+val.usid+')"><i class="fa fa-repeat"></i></button>&nbsp;<span id="yon'+val.usid+'">'+zt+'</span></p></div>';

                  });
                  HtmlStr = '<i onclick="manage.gtnos('+uid+')" class="glyphicon glyphicon-chevron-down" style="padding:5px;cursor:pointer"></i>';
                  var sss = HtmlStr;
                  $('#u'+uid+'').empty();
                  document.getElementById('u'+uid).innerHTML=sss;
                  document.getElementById('s'+uid).innerHTML=htmlv;
              }else if(data.code == '-1'){
                  htmls = '<p class="sc" class="text-center" style="width:400px;">　　　　　　无代理</p>';
                  HtmlStr = '<i onclick="manage.gtnos('+uid+')" class="glyphicon glyphicon-chevron-down" style="padding:5px;cursor:pointer"></i>';
                  var ssss = HtmlStr;
                  $('#u'+uid+'').empty();
                  $('#u'+uid+'').html(ssss);
                  document.getElementById('s'+uid).innerHTML=htmls;
              }
          }
      });
  },
  modifyuser:function(uid){
      $.ajax({
          url: "{:url('user/modifysuer')}",
          data: {uid: uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function (data, state) {
              if (state == 'success' && data.code == '0') {
                  $('#fcb2').removeAttr("style");
                  var a = data.user;
                  if(a.leve===1){
                      $('#erji').html('二级分成');
                      $('#sjy').removeAttr("style");
                      $('#fcb3').removeAttr("style");
                      $('#sjy').attr("style","display:none;");

                      if(data.nou===0)
                      {
                          var l = "selected";
                      }
                      else
                      {
                          var m = "一级代理";
                      }
                  }
                  if(a.leve===2){
                      $('#erji').html('三级分成');
                      $('#fcb3').attr("style","display:none;");
                      if(data.nou===0)
                      {
                          var e ="selected";
                          manage.zt(1,a.u_parent_u_id);
                      }
                      else
                      {
                          var m = "二级代理";
                      }
                  }
                  if(a.leve===3)
                  {
                      $('#fcb2').attr("style","display:none;");
                      $('#fcb3').attr("style","display:none;");
                      if(data.nou===0)
                      {
                          var v = "selected";
                          manage.zt(2,a.u_parent_u_id);
                      }
                      else
                      {
                          var m = "三级代理";
                      }
                  }
                  if(data.nou===0)
                  {
                      $('#dljb').empty();
                      var h  = '';
                           h+='<option value="0" '+l+'>一级代理</option>'+
                              '<option value="1" '+e+'>二级代理</option>'+
                              '<option value="2" '+v+'>三级代理</option>';

                        $('#jis').removeAttr("style");
                        $('#jis').html(h);
                  }
                  else
                  {
                      $('#dljb').empty();
                      $('#jis').empty();
                      $('#jis').removeAttr("style");
                      $('#jis').attr("style","display:none;");
                      $('#sjy').removeAttr("style");
                      $('#sjy').attr("style","display:none;");
                      var k = '<input type="text" class="form-control" disabled="true" required="" value="'+m+'">';
                      $('#dljb').html(k);
                  }
                  
                  if(a.u_allmoney==0.00){
                      
                  }else{
                      $("#se5").prop("disabled",true);
                      $("#jis").prop("disabled",true);
                  }
                  
                  $('#fcbl').val(a.fcbl*100);
                  $('#fcbl2').val(a.u_fcbl2*100);
                  $('#fcbl3').val(a.u_fcbl3*100);
                  $('#uid').val(a.usid);
                  $('#nic').val(a.u_nic);
                  $('#yh').html(a.username+'['+a.u_nic+']');
                  $('#myModal').modal('show');
                  //                      document.getElementById('s'+uid).innerHTML=htmls;
              }
              else
              {

              }
          }
      });

  },
  zt:function(id,pid)
  {
      $.ajax({
          url: "{:url('user/jis')}",
          data: {id: id},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function (data, state) {
              if (state == 'success' && data.code == '0') {
                  var htmls = '<option value=""></option>';
                  arra = data.us;
                  $.each(arra,function(key,val){

                      if(val.usid===pid)
                      {
                          var s = "selected";
                      }
                      htmls+='<option value="'+val.usid+'" '+s+'>'+val.username+'</option>'
                  });
                  $('#se5').empty();
                  $('#se5').html(htmls);
                  $('#sjy').removeAttr("style");
                  //                      document.getElementById('s'+uid).innerHTML=htmls;
              }
              else
              {

              }
          }
      });
  }
}
  $('#jis').change(function(){
      var id = $(this).val();

      if(id!='')
      {
          if(id==1||id==2){
              $('#sjy').attr("style","display:none;");
              $.ajax({
                  url: "{:url('user/jis')}",
                  data: {id: id},
                  type: 'POST',
                  dataType: "json",
                  cache: false,
                  success: function (data, state) {
                      if (state == 'success' && data.code == '0') {
                          var htmls = '';
                          arra = data.us;
                          $.each(arra,function(key,val){
                              htmls+='<option value="'+val.usid+'">'+val.username+'</option>'
                          });
                          $('#se5').empty();
                          $('#se5').html(htmls);
                          $('#sjy').removeAttr("style");
                      }
                  }
              });
           }
          else
          {
              $('#sjy').removeAttr("style");
              $('#sjy').attr("style","display:none;");
          }
      }
      else
      {
          $('#sjy').removeAttr("style");
          $('#sjy').attr("style","display:none;");
      }
  });
  $('#sub1').click(function(){
      var fcbl = $('#fcbl').val();
      var fcbl2 = $('#fcbl2').val();
      var fcbl3 = $('#fcbl3').val();
      var uid = $('#uid').val();
      var jis  = $('#jis').val();
      var nic  = $('#nic').val();
      if(jis==1||jis==2)
      {
          var se5  = $('#se5').val();
          if(se5=='')
          {
              return alert('请选择上级用户');
          }
      }
      if(uid!='')
      {
          $.ajax({
              url: "{:url('user/saveuser')}",
              data: {uid:uid,fcbl:fcbl,jis:jis,se5:se5,nic:nic,fcbl2:fcbl2,fcbl3:fcbl3},
              type: 'POST',
              dataType: "json",
              cache: false,
              success: function (data, state) {
                  if (state == 'success' && data.code == '0') {
                        alert(data.res);
                      window.location.reload();
                  }
                  else
                  {
                      alert(data.res);
                  }
              }
          });
      }

  });
</script>