{include file="public/head" /}
<script type="text/javascript" src="/bank/cj/laydate.js"></script>
    <div class="mainpanel">
    <div class="contentpanel">
      <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{:url('index/index')}"><i class="fa fa-home mr5"></i> 主页</a></li>
        <li><a href="{:url('User/index')}">淘客管理</a></li>
        <li class="active">淘客列表</li>
      </ol>
      <div class="panel">
          <div class="panel-heading" style="padding-bottom:0px;">
          <ul class="nav nav-tabs nav-justified nav-line">
              <li class="active"><a href="{:url('User/index')}"><strong>淘客列表</strong></a></li>
              
              <li><a href="{:url('User/userno')}"><strong>封禁列表</strong></a></li>
          </ul>
          <div class="row">
          </div>
        </div>
          <style>
            .btn-stroke{
              padding:0 3px;
              line-height:16px;
            }
          </style>
        <div class="panel-body">
          <div class="table-responsive xdc">
            <form action="{:url('User/index')}" method="get">
             <div style="width:300px;float:left;margin-right:10px;margin-bottom:10px;">
                <input style="width:300px;" type="text" name="name" class="form-control"  placeholder="淘客帐号、昵称" aria-required="true">
              </div>
              <input style="width:100px;float:left;margin-bottom:10px;" type="submit" class="btn btn-success" value="搜 索">
            </form>

              <table class="table table-bordered table-striped-col dataTable">
                <thead>
                <tr>
                    <!--<th class="text-center" style="width:45px;">-->
                    <!--<label class="ckbox ckbox-primary" class="oldal">-->
                    <!--</label>-->
                    <!--</th>-->
                    <th>淘客帐号</th>
                    <th>备注昵称</th>
                    <th>到期时间</th>
                    <th>邀请码</th>
                    <th>是否发展代理</th>
                    <th>状态</th>
                    <th style="width:150px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="user" id="v"}
                <tr>
                    <td><a href="javaScript:;" onclick="manage.local({$v.u_id})">{$v.u_username}</a></td>
                    <td><a href="javaScript:;" onclick="manage.local({$v.u_id})">{$v.u_nic}</a></td>
                    <td>{$v.a_endtime|date="Y-m-d H:i:s",###}</td>
                    <td>{$v.u_code}</td>
                    <td>
                        {if condition="$v.fc_power eq 1"}   <span class="text-success">发展</span>
                        {elseif condition="$v.fc_power eq 2"} <span class="text-danger">不发展</span>
                        {/if}
                    </td>
                    <td>
                    {if condition="$v.u_state eq 1"}<span class="text-success">正常</span>
                    {elseif condition="$v.u_state eq 2"/}<span class="text-danger">封禁</span>
                    {elseif condition="$v.u_state eq 3"/}<span class="text-warning">未授权</span>
                    {/if}
                    </td>
                    <td>
                      <button class='btn btn-info btn-xs btn-stroke' onclick="manage.local({$v.u_id})"><i class="glyphicon glyphicon-share-alt"></i></button>
                      <button class='btn btn-success btn-xs btn-stroke' onclick="manage.modifyuser({$v.u_id})" ><i class="fa fa-pencil"></i></button>
                      <button class='btn btn-warning btn-xs btn-stroke' onclick="manage.reset({$v.u_id})" ><i class="fa fa-repeat"></i></button>
                      <button class='btn btn-danger btn-xs btn-stroke' onclick="manage.usno({$v.u_id})" ><i class="fa fa-ban"></i></button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
              {$user->render()}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- 模糊弹框 -->
<div class="modal bounceIn animated" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:500px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改用户 <span id="yh"></span></h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注昵称</label>
                        <div class="col-sm-8">
                            <input type="text" id="nic" class="form-control" placeholder="备注昵称" required="" aria-required="true">
                            <input type="hidden" id="uid" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" id="syqx">
                        <label class="col-sm-3 control-label">授予权限:</label>
                        <div class="col-sm-8">
                            <label class="rdiobox rdiobox-success" style="float:left;margin-top:10px;">
                              <input type="radio" name="sq" value="1" id="fz">
                              <span>发展代理</span>
                            </label>
                            <label class="rdiobox rdiobox-danger" style="float:left;margin-left:20px;margin-top:10px;">
                              <input type="radio" name="sq" value="2" id="bfz">
                              <span>不发展代理</span>
                            </label>
                            
                        </div>
                    </div>
                    <div class="form-group" id="he">
                        <label class="col-sm-3 control-label">授权到期:</label>
                        <div class="col-sm-8 demo2">

                            <input placeholder="请输入日期" name="etime" class="laydate-icon form-control" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="padding:10px;height:34px;" id="vvt">
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">　关　闭　</button>
                <button type="button" class="btn btn-primary" id="sub1" >　提　交　</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
!function(){
  laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
  laydate({elem: '#demo'});//绑定元素
}();
//日期范围限制
var start = {
    elem: '#start',
    format: 'YYYY-MM-DD',
    min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16', //最大日期
    istime: true,
    istoday: false,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};
var end = {
    elem: '#end',
    format: 'YYYY-MM-DD',
    min: laydate.now(),
    max: '2099-06-16',
    istime: true,
    istoday: false,
    choose: function(datas){
        start.max = datas; //结束日选好后，充值开始日的最大日期
    }
};
laydate(start);
laydate(end);
//自定义日期格式
laydate({
    elem: '#test1',
    format: 'YYYY年MM月DD日',
    festival: true, //显示节日
    choose: function(datas){ //选择日期完毕的回调
        alert('得到：'+datas);
    }
});
//日期范围限定在昨天到明天
laydate({
    elem: '#hello3',
    min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
    max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
});
</script>
{include file="public/footer" /}
<script>
  var manage = {
    reset:function(id){
            if(confirm("是否重置密码？")) {  // 确认操作
                // 发送请求
                $.ajax({
                    url: "{:url('user/Reset')}",
                    data: {uid:id},
                    type: 'Post',
                    dataType: "json",
                    cache: false,
                    success: function(data,state){
                        if(state == 'success' && data.code == '0'){
                            alert(data.msg);
                        }else{
                            alert(data.msg);
                        }
                    }
                });
            }
        },
  usno:function(uid)
  {
    if(confirm("确定封禁用户？")) {
      $.ajax({
          url: "{:url('user/fjyh')}",
          data: {uid:uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function(data,state){
              if(state == 'success' && data.code == '0'){
                alert('封禁成功');
               window.location.reload();
                  
              }
              else
              {
                  alert('封禁失败');
              }
          }
      });
    }
  },
  usyes:function(uid)
  {
    if(confirm("确定恢复正常？")) {
      $.ajax({
          url: "{:url('user/fjyh')}",
          data: {uid:uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function(data,state){
              if(state == 'success' && data.code == '0'){
                alert('恢复成功');
                var sta = '<span style="color:#259dab">正常</span>';
                var zt = '<a href="javascript:;" title="封禁" style="color:red;" onclick="manage.usno('+uid+')" class="fa fa-times"></a>';
                $('#sf'+uid).empty();
                $('#yon'+uid).empty();
                $('#sf'+uid).html(sta);
                $('#yon'+uid).html(zt);
                  
              }
              else
              {
                  alert('恢复失败');
              }
          }
      });
    }
  },

  local:function(id){
    $.ajax({
      url: "{:url('user/localid')}",
      data: {tkid:id},
      type: 'POST',
      dataType: "json",
      cache: false,
      success: function(data,state){
          if(state == 'success' && data.code == '0'){
            window.open('http://m.00o.cn/bank/index');
          }
          else
          {
              alert('操作失败');
          }
      }
    });
  },
  modifyuser:function(uid){
      $.ajax({
          url: "{:url('user/modifysuer')}",
          data: {uid: uid},
          type: 'POST',
          dataType: "json",
          cache: false,
          success: function (data, state) {
              if (state == 'success' && data.code == '0') {
                  var a = data.user;
                  if(data.power==1){
                     $('#fz').attr("checked","checked");
                  }else if(data.power==2){
                    $('#bfz').attr("checked","checked");
                  }

                  if(data.isy==1){
                    $('#syqx').removeAttr('style');
                     $('#syqx').attr("style","display:none");
                     
                  }else if(data.isy==2){
                    $('#syqx').attr("style","display:none");
                    $('#syqx').removeAttr('style');
                    
                  }
                  $('#uid').val(a.usid);
                  $('#nic').val(a.u_nic);
                  $('#vvt').val(data.endtime);
                  $('#yh').html(a.username+'['+a.u_nic+']');
                  $('#myModal').modal('show');
                  //                      document.getElementById('s'+uid).innerHTML=htmls;
              }
              else
              {

              }
          }
      });

  },

}

  $('#sub1').click(function(){

      var uid = $('#uid').val();
      var sq  = $('input[name="sq"]:checked').val();
      var stime  = $('input[name="stime"]:checked').val();
      var nic  = $('#nic').val();
      var vvt  = $('#vvt').val();
      
      if(uid!='')
      {
          $.ajax({
              url: "{:url('user/saveuser')}",
              data: {uid:uid,nic:nic,stime:stime,etime:vvt,sq:sq},
              type: 'POST',
              dataType: "json",
              cache: false,
              success: function (data, state) {
                  if (state == 'success' && data.code == '0') {
                        alert(data.res);
                      window.location.reload();
                  }
                  else
                  {
                      alert(data.res);
                  }
              }
          });
      }

  });
</script>