{include file="public/head" /}
<link rel="stylesheet" href="/bank/lib/jquery-ui/jquery-ui.css">
<link rel="stylesheet" href="/bank/lib/select2/select2.css">
<link rel="stylesheet" href="/bank/lib/dropzone/dropzone.css">
<link rel="stylesheet" href="/bank/lib/jquery-toggles/toggles-full.css">
<link rel="stylesheet" href="/bank/lib/timepicker/jquery.timepicker.css">
<script src="/bank/lib/modernizr/modernizr.js"></script>
<style>
    .select2{height:35px!important;}
    .select2-selection{height:38px!important;}
    #select2-select5-container{height:37px!important;line-height: 37px;}
    #select2-select1-container{height:37px!important;line-height: 37px;}
    .select2-selection__arrow{height:34px!important;}
</style>
    <div class="mainpanel">
    <div class="contentpanel">
      <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="{:url('index/index')}"><i class="fa fa-home mr5"></i> 主页</a></li>
        <li><a href="{:url('Order/index')}">订单管理</a></li>
        <li class="active">订单列表</li>
      </ol>
      <div class="panel">
          <div class="panel-heading">
          <h4 class="panel-title">{if condition="$yue eq 'by'"}订单列表(本月){elseif condition="$yue eq 'sy'"/}订单列表(上月){/if}</h4>
          <hr>
          <div class="row">
              <div class="col-md-12">
                  <div class="profile-right-body">

                      <style>
                          td{background: #f6f6f6!important;}
                          th{background: #f1f1f1!important;}
                      </style>
                      <div class="tab-content">
                          <div class="table-responsive">
                              <div class="row">
                                  <div style="padding:20px;float:left;">
                                      {if condition="$yue eq 'by'"}
                                      <form action="{:url('Order/index',array('last'=>1))}" method="get">
                                      {elseif condition="$yue eq 'sy'"/}
                                       <form action="{:url('Order/index',array('last'=>'Lastmonth'))}" method="get">
                                       {/if}
                                          <div style="width:120px;float:left;margin-right:10px;">
                                          {if condition="$yue eq 'by'"}
                                          <a style="width:120px;" class="btn btn-success" href="{:url('Order/index',array('last'=>'Lastmonth'))}"> 查看上月订单 </a>
                                          {elseif condition="$yue eq 'sy'"/}
                                          <a style="width:120px;" class="btn btn-success" href="{:url('Order/index',array('last'=>'1'))}"> 查看本月订单 </a>
                                          {/if}
                                          </div>
                                          <div style="width:300px;float:left;margin-right:10px;">
                                      <input style="width:300px;" type="text" name="name" class="form-control"  placeholder="搜索商品(商品详情、订单号)/用户名" aria-required="true">
                                          </div>
                                          <div style="width:120px;float:left;margin-right:10px;">
                                          <select id="select5" class="form-control" style="width:120px;float:left;" data-placeholder="交易状态" name="type">
                                              <option value="">-选择状态-</option>
                                              <option value="1">订单付款</option>
                                              <option value="2">订单结算</option>
                                              <option value="3">订单失效</option>
                                              <option value="4">订单成功</option>
                                          </select>
                                          </div>
                                          <input style="width:100px;float:left;" type="submit" class="btn btn-success" value="搜 索">
                                      </form>
                                  </div>
                                  <div style="float:right;padding-right:20px;">{$dd->render()}</div>
                              </div>
                              <table class="table table-bordered table-striped-col dataTable">
                                  <thead>
                                  <tr>
                                      <!--<th class="text-center" style="width:45px;">-->
                                      <!--<label class="ckbox ckbox-primary" class="oldal">-->
                                      <!--</label>-->
                                      <!--</th>-->
                                      <th>商品图片</th>
                                      <th style="width:200px!important;">商品信息</th>
                                      <th>订单时间</th>
                                      <th>订单号</th>
                                      <th style="width:90px!important;">付款金额</th>
                                      <th style="width:90px!important;">佣金</th>
                                      <th>所属用户</th>
                                      <th>所属推广位</th>
                                      <th style="width:90px!important;">交易状态</th>
                                      <!--<th style="width:90px!important;">订单状态</th>-->

                                  </tr>
                                  </thead>
                                  <tbody>

                                  {volist name="dd" id="v"}

                                  <tr>

                                      <td style="padding:0px;margin:0px;width:90px;"><a href="https://item.taobao.com/item.htm?id={$v.o_goodsid}" target="_blank"><img style="width:90px;height:90px;" src="{$v.o_goodsimg}" alt=""></a></td>
                                      <td><p class="text-success" style="width:200px!important;">{$v.o_goodsinformation}</p></td>
                                      <td>{$v.o_creattime|date="Y/m/d H:i:s",###}</td>
                                      <td><p class="text-success" style="width:120px;padding:0px;margin:0px;">
                                          <?php echo substr($v['o_ordernum'],0,16);?></p></td>
                                      <td><p class="text-success" style="width:60px;padding:0px;margin:0px;">{$v.o_payprice}</p></td>
                                      <td><p class="text-success" style="width:60px;padding:0px;margin:0px;">{$v.o_zzyj}</p></td>
                                      <td><p class="text-success" style="width:80px;padding:0px;margin:0px;">{$v.u_username}</p>    </td>
                                      <td><p class="text-success" style="width:80px;padding:0px;margin:0px;">{$v.t_nicname}</p>    </td>
                                      <td>{if condition="$v.o_state eq 12"}<span class="btn btn-success btn-xs">订单付款</span>{elseif condition="$v.o_state eq 3"/}<span class="btn btn-info btn-xs">订单结算</span>{elseif condition="$v.o_state eq 13"/}<span class="btn btn-danger btn-xs">订单失效</span>{elseif condition="$v.o_state eq 14"/}<span class="btn btn-primary btn-xs">订单成功</span>{/if}</td>
                                      <!--<td>{if condition="$v.o_operatingstate eq 1"}<span class="btn btn-success btn-xs">已完成</span>{elseif condition="$v.o_operatingstate eq 2"/}<span class="btn btn-info btn-xs">其他</span>{elseif condition="$v.o_operatingstate eq 0"/}<span class="btn btn-danger btn-xs">未操作</span>{/if}</td>-->
                                  </tr>

                                  {/volist}
                                  </tbody>
                              </table>
                              {$dd->render()}
                          </div>

                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{include file="public/footer" /}
<script src="/bank/lib/jquery-ui/jquery-ui.js"></script>
<script src="/bank/lib/jquery-autosize/autosize.js"></script>
<script src="/bank/lib/select2/select2.js"></script>
<script src="/bank/lib/jquery-toggles/toggles.js"></script>
<script src="/bank/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="/bank/lib/timepicker/jquery.timepicker.js"></script>
<script src="/bank/lib/dropzone/dropzone.js"></script>
<script src="/bank/lib/bootstrapcolorpicker/js/bootstrap-colorpicker.js"></script>
<script>
    $(function() {
        // Textarea Auto Resize
        autosize($('#autosize'));
        // Select2 Box
        $('#select1, #select2, #select3').select2();
        $("#select4").select2({ maximumSelectionLength: 2 });
        $("#select5").select2({ minimumResultsForSearch: Infinity });
        $("#select6").select2({ tags: true });
        // Toggles
        $('.toggle').toggles({
            on: true,
            height: 26
        });
        // Input Masks
        $("#date").mask("99/99/9999");
        $("#phone").mask("(999) 999-9999");
        $("#ssn").mask("999-99-9999");
        // Date Picker
        $('#datepicker').datepicker();
        $('#datepicker-inline').datepicker();
        $('#datepicker-multiple').datepicker({ numberOfMonths: 2 });

        // Time Picker
        $('#tpBasic').timepicker();
        $('#tp2').timepicker({'scrollDefault': 'now'});
        $('#tp3').timepicker();

        $('#setTimeButton').on('click', function (){
            $('#tp3').timepicker('setTime', new Date());
        });

        // Colorpicker
        $('#colorpicker1').colorpicker();
        $('#colorpicker2').colorpicker({
            customClass: 'colorpicker-lg',
            sliders: {
                saturation: {
                    maxLeft: 200,
                    maxTop: 200
                },
                hue: { maxTop: 200 },
                alpha: { maxTop: 200 }
            }
        });

    });

</script>