<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="images/favicon.png" type="image/png">-->

    <title>m.00o.cn域名绑定说明</title>

    <link rel="stylesheet" href="/bank/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bank/lib/weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="/bank/lib/jquery-toggles/toggles-full.css">

    <link rel="stylesheet" href="/bank/css/quirk.css">

    <script src="/bank/lib/modernizr/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bank/lib/html5shiv/html5shiv.js"></script>
    <script src="/bank/lib/respond/respond.src.js"></script>
    <![endif]-->
</head>

<body>


<div>

    <div class="" style="width:860px;margin:0 auto;padding-top:50px;">
        <style>
            h4{
                color: #5b6781;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.3px;
                line-height: 21px;
                margin: 30px 0 20px;
            }
        </style>
        <h4 style="text-align: left;">现在是要访问我们域名<span class="text-success">m.00o.cn</span>，<br>
            如果您想<span class="text-success">访问自己域名</span>就能到达代理系统可以这样设置：
        </h4>
        <h4 style="text-align: left;">首先，域名要满足这两个条件才可以：<br>
            1)	域名要已经<span class="text-success">备案</span>；<br>
            2)	域名备案接入商要是<span class="text-success">阿里云</span>才可以，接入商在其他主机商不行。<br>
        </h4>
        <h4 style="text-align: left;">如果是已经备案的域名并且接入在阿里云的话，这样设置：<br>
            假如想通过www.aaa.com访问代理系统，进入<span class="text-success">域名解析设置</span>：<br>
            <span class="text-success">添加记录 - 别名解析CNAME -记录值 m.00o.cn</span><br>
            如图所示：<br>
        </h4>
            <div class="input-group mb15">
                <img src="/bank/images/jiexi.png" alt="">
            </div>
       

    </div><!-- notfoundpanel -->

</div>


<script src="/bank/lib/jquery/jquery.js"></script>
<script src="/bank/lib/jquery-ui/jquery-ui.js"></script>
<script src="/bank/lib/bootstrap/js/bootstrap.js"></script>
<script src="/bank/lib/jquery-toggles/toggles.js"></script>

<script src="/bank/js/quirk.js"></script>

</body>
</html>
